* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(239, 238, 244);
  font-family: "Rubik", sans-serif;
  font-weight: normal;
}

nav {
  display: flex;
  width: 100%;
  height: 100px;
  background-color: #fff;

  a {
    width: 100px;
    height: 100px;
  }

  img {
    width: 100%;
    height: 100%;
  }
}
